<meta charset="UTF-8">
<title>EJS IS FUN</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<<<<<<< HEAD
<style>
</style>

<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<script defer src="/js/index.js"></script>
=======
<script src="https://kit.fontawesome.com/168160de4f.js" crossorigin="anonymous"></script>
>>>>>>> b3c6d53 (primera entrega proyecto final)
