<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main class="text-center">
            <h2 class="h2 mt-5">Bienvenido a DO SAN</h2>
            <h3 class="h3">Expertos en Tecnología</h3>
            <img id="logo" class="m-0 p-0" src="https://cdn-icons-png.flaticon.com/512/3861/3861872.png" alt="teclado logo">
            <br>
            <a class="btn btn-primary m-3" href="http://localhost:8080/carga">Ir a cargar productos</a>
            <a class="btn btn-primary m-3" href="http://localhost:8080/productos">Ver todos los productos</a>
        </main>
        <footer class="mt-2">
            <%- include('../partials/footer'); %>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>